<!doctype html>
<html lang="en" ng-app="patternApp">

<head>
    <meta charset="utf-8">
    <title>Pattern Engine Test</title>
    <script src="third_party/angular.min.js"></script>
    <script src="third_party/jquery-1.11.3.js"></script>
    <script src="third_party/jquery.color-2.1.2.js"></script>
    <script src="js/pattern_engine.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="BytecodeCtrl">
    <div class="assembler">
        <!--
        <span class="inputTitle">Assembly input</span>
        -->
        <div class="asmInput">
            <textarea ng-model="progData.asmInput" name="assemblerInputText" cols=30 rows=20>
            </textarea>
            <div class="buttons">
                <input type="button" value="Assemble" ng-click="assemble()" />
            </div>
        </div>
        <!--
        <span class="inputTitle">Binary input</span>
        <div class="binInput">
            <textarea ng-model="progData.binaryInput" name="binaryInputText" cols=40 rows=20>
            </textarea>
            <div class="buttons">
                <input type="button" value="Parse" ng-click="parsebin()" />
            </div>
        </div>
        -->
        <div class="actionButtons">
            <input type="button" value="Reboot" ng-click="reboot()" />
            <input type="button" value="Step" ng-click="step()" />
            <input type="button" value="Run" ng-click="run()" />
        </div>
        <div class="bytecodeMachine">
            <div class="desc">Registers</div>
            <table class="registers">
                <tr>
                    <th ng-repeat="reg in progData.state.r track by $index">R{{$index}}</th>
                </tr>
                <tr>
                    <td ng-repeat="reg in progData.state.r track by $index">{{reg}}</td>
                </tr>
            </table>
        </div>
        <div class="flags">
            <div class="desc">Flags</div>
            <table class="registers">
                <tr>
                    <th>P</th>
                    <th>Z</th>
                </tr>
                <tr>
                    <td>{{progData.state.p ? "1" : "0"}}</td>
                    <td>{{progData.state.z ? "1" : "0"}}</td>
                </tr>
            </table>
        </div>
        <div class="tokenizedOutput">
            <div class="desc">Assembly input and bytecode</div>
            <table>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th ng-repeat="bit in bits">{{bit}}</th>
                </tr>
                <tr ng-repeat="inst in progData.assembled" ng-class="{'selected': progData.state.pc == inst.address }">
                  <td>{{inst.address}}</td>
                  <td>{{inst.asm}}</td>
                  <td ng-repeat="bit in bits">
                      {{inst.byteCode | getbit:bit}}
                  </td>
              </tr>
            </table>
        </div>
        <div class="colorBox">
            <div class="desc">Pixel color output</div>
            <table>
                <tr>
                    <th>R</th>
                    <th>G</th>
                    <th>B</th>
                    <th>H</th>
                    <th>S</th>
                    <th>L</th>
                    <th>color</th>
                </tr>
                <tr>
                  <td>{{pixel.r}}</td>
                  <td>{{pixel.g}}</td>
                  <td>{{pixel.b}}</td>
                  <td>{{pixel.h}}</td>
                  <td>{{pixel.s}}</td>
                  <td>{{pixel.l}}</td>
                  <td ng-style="pixelStyle"></td>
              </tr>
            </table>
        </div>
        <!--
        <div class="binaryViewer" title="binary machine code">
            <div class="desc">Bytecode binary output</div>
            <table class="bits">
                <tr>
                </tr>
                <tr ng-repeat="b in progData.bytecodeOutput track by $index" ng-class="{'selected': progData.currentLine == $index }">
                </tr>
            </table>
        </div>
        -->
    </div>
</body>

</html>
