<!doctype html>
<html lang="en" ng-app="patternApp">
<head>
    <meta charset="utf-8">
    <title>Pattern Engine Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>
    <script src="js/pattern_engine.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="BytecodeCtrl">
    <div class="assembler">
        <form name="assemblerForm">
            <div class="asmInput">
                <textarea ng-model="progData.asmInput" name="assemblerInputText" cols=80 rows=20>
                    
                </textarea>
            </div>            
            <div class="buttons">
                <input type="button" value="Assemble" ng-click="assemble()"/>
                <input type="button" value="Reboot" ng-click="reboot()"/>
                <input type="button" value="Step" ng-click="step()"/>
            </div>
        </form>
        <div class="tokenizedOutput">
            <div class="desc">Assembly input tokenized</div>
                <table>
                    <tr>
                        <th>INS</th>
                        <th>D</th>
                        <th>M</th>
                        <th>N</th>
                    </tr>
                    <tr ng-repeat="inst in progData.ins">
                        <td>{{inst[0]}}</td>
                        <td>{{inst[1]}}</td>
                        <td>{{inst[2]}}</td>
                        <td>{{inst[3]}}</td>
                    </tr>
                </table>
            </div>
        <div class="binaryViewer" title="binary machine code">

            <div class="desc">Bytecode binary output</div>
        <table class="bits">
            <tr>
                <th ng-repeat="bit in bits">{{bit}}</th>
            </tr>
            <tr ng-repeat="b in progData.bytecodeOutput" ng-class="{'selected': progData.currentLine == $index }">
                <td ng-repeat="bit in bits">
                    {{b | getbit:bit}}
                </td>
            </tr>
        </table>

        </div>
        <div class="bytecodeMachine">
            <div class="desc">Registers</div>
            <table class="registers">
                <tr>
                    <th ng-repeat="reg in engine.R track by $index">R{{$index}}</th>
                </tr>
                <tr>
                    <td ng-repeat="reg in engine.R track by $index">{{reg}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>