.pixel {
    float: left;
    margin: 5px;
    width: 20px;
    height: 20px;
}

.strip {
    color: white;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    width: 500px;
}

table {
    border: 1px solid #000;
    border-collapse: separate;
    table-layout: fixed;
    font-family: monospace;
    text-align: left;
}

th,
td {
    border: solid 1px;
}

.binaryViewer table {
    width: 800px;
}

.selected {
    background-color: yellow;
}

.tokenizedOutput table {
}

.colorBox,
.binaryViewer,
.tokenizedOutput,
.flags {
    float: left;
    margin: 0 0 20px 20px;
}

.bytecodeMachine {
    clear: both;
    margin: 0 0 20px 20px;
}

.asmInput {
    float: left;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
}

.errors {
    border: 1px solid red;
    background: #ff9999;
    padding: 10px;
    font-family: monospace;
}

.inputTitle {
    float: none;
}

.actionButtons {
    float: none;
    clear: both;
}
