.pixel {
    float: left;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.strip {
    color: white;
}

.binaryViewer table {
	border: 1px solid #000;
	border-collapse: separate;
	table-layout: fixed;
    width: 800px;
    font-family: monospace;
}
.binaryViewer table th, .binaryViewer table td {
    border: solid 1px;
    text-align: left;
}

.tokenizedOutput table {
	border: 1px solid #000;
	border-collapse: separate;
	table-layout: fixed;
    width: 200px;
    font-family: monospace;
}

.tokenizedOutput table th, .tokenizedOutput table td {
    border: solid 1px;
    text-align: left;
}

.binaryViewer, .tokenizedOutput {
	float: left;
	margin: 0 0 20px 20px;
}